@font-face {
  font-family: "Helvetical";
  src: url("../fonts/Helvetical/HelveticalNeue.ttc");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetical";
  src: url("../fonts/Helvetical/HelveticalNeueDeskInterface.ttc");
  font-weight: 900;
  font-style: italic;
}
