$primary-color: #cd0000;
$secondary-color: rgb(255, 136, 14);
$white-grey: #eaeaea;
$red-color: #cd0000;
$cool-grey: rgb(158, 160, 165);
$black: #1f1f1f;
$dark-white: rgb(245, 245, 245);
$dusty-lavender: #d1d0d1;

$width-desktop: 1200px;
$width-mobile: 500px;
