.shipment-plan {
  .action-center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0px;
    .date-control {
      display: flex;
      background-color: #eaeaea;
      height: 83px;
      width: 20%;
      .date-picker {
        width: 60%;
        display: flex;
        flex-direction: column;
        padding: 8px;
        input {
          width: 70%;
          align-self: center;
        }
        img {
          margin: 8px;
        }
      }
      .date-button {
        padding: 6px;
        button {
          border-radius: 4px;
          border: solid 1px #d8d8d8;
          background-color: #ffffff;
          padding: 8px 0px;
          margin: 5px;
          width: 74px;
        }
      }
    }
    .button-control {
      width: 40%;
      display: flex;
      height: min-content;
      align-self: center;
      .action-button {
        width: 100%;
        .search {
          width: 100%;
          input {
            width: 100%;
          }
        }
        .add {
          border: 0;
          padding: 0;
          background-color: #ffffff;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
  table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    overflow: scroll;
    tr {
      &:nth-child(even) {
        background-color: #f1f1f1;
      }
      td {
        padding: 13px 24px;
        border: solid 1px #d8d8d8;
        text-align: center;
      }
    }
    thead,
    tfoot {
      font-size: 16px;
      font-weight: bold;
      background-color: #e1e1e1;
    }
    tbody {
      font-size: 16px;
    }
  }
}
