.tableBody {
  display: flex;
  .tableCheckbox {
    padding: 11px 0 0 11px;
    table {
      border-collapse: collapse;
      width: 15px;
      th {
        width: fit-content;
        height: calc(44em / 18);
        border: 1px solid #d8d8d8;
        background-color: #eaeaea;
        font-size: calc(14em / 18);
        padding: auto;
        &:first-child {
          padding: 0px;
          text-align: center;
        }
      }
      tr {
        height: calc(44em / 18);
        &:nth-child(odd) {
          background-color: #ffffff;
        }
        td {
          font-size: calc(12em / 18);
          width: 1%;
          border: 1px solid #d8d8d8;
          text-align: center;
        }
      }
    }
  }
  .data-table {
    padding: 11px 0;
  }
}
