.manage-code {
  display: flex;
  flex-direction: column;
  .manage-code-header {
    display: flex;
    .label-menu {
      &:first-child {
        width: 6%;
        .label-menu-button {
          button {
            width: 100%;
          }
        }
      }
      width: 16%;
      height: 83px;
      background-color: #ffffff;
      margin: 11px;
      padding-top: 11px;
      align-items: center;
      .label-menu-button {
        display: flex;
        justify-content: space-between;
        padding: 0px 11px;
        .active {
          background-color: #cd0000;
          color: white;
          svg {
            fill: white;
          }
        }
        button {
          border: solid 1px #d8d8d8;
          width: 31%;
          height: 32px;
          border-radius: 4px;
          background-color: #ffffff;
          align-items: center;
          //padding: calc(7em / 18) calc(14em / 18);
          justify-content: center;
          vertical-align: middle;
          display: flex;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
          span {
            font-size: 14px;
          }
        }
      }
      .label-details {
        font-size: 12px;
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 13px;
      }
    }
  }
  .action-center {
    display: flex;
    justify-content: flex-end;
    margin: 0px 11px;
    .notification {
      margin: 0;
      padding: 2px;
      color: #cd0000;
      font-weight: bold;
      align-self: center;
    }
    .left-menu-control {
      display: flex;
      margin-right: auto;
      width: 20%;
      justify-content: space-between;
      button {
        border-radius: 4px;
        border: solid 1px #bbbbbb;
        background-color: #eaeaea;
        width: 44px;
      }
      p {
        font-size: 16px;
        margin: 0;
        align-self: center;
      }
    }
    .text-button {
      padding: 0;
      span {
        margin: 11px 21px;
      }
    }
    .action-button {
      .active {
        background-color: #cd0000;
        color: white;
        svg {
          g {
            g {
              fill: white;
            }
          }
        }
      }
      button {
        font-size: 14px;
      }
      form {
        input {
          margin-left: 13px;
          font-size: 20px;
        }
      }
    }
  }
  .manage-code-content {
    display: flex;
    .left-menu {
      display: flex;
      flex-wrap: wrap;
      width: 20%;
      .check-list {
        width: 32%;
        height: fit-content;
        background-color: #ffffff;
        border: solid 1px #d8d8d8;
        padding: 0;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: calc(11em / 18);
          li {
            display: flex;
            padding: calc(2em / 18);
            &:first-child {
              background-color: #f1f1f1;
            }
            span {
              align-self: center;
            }
            button {
              font-size: 1em;
              border-radius: 4px;
              padding: calc(4em / 18) calc(8em / 18);
              border: solid 1px #d8d8d8;
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}
